*{
    padding: 0;
    margin: 0;
}

body{
    background: rgb(240, 240, 240);
    padding: 0;
    margin: 0;
}
            /*--------Caja de para post--------*/
.contenedor{

    /*background: red;*/
    margin: 0;
    padding: 0;
    top: 50px;
    left: 150px;
    width: 35%;
    height: 185px;
    position: absolute;
}

textarea .error{
    border:  5px solid #d32f2f;
    color: red;
}

.caja{
    background: beige;
    position: absolute;
    top: 17.2px;
    width: 100%;
    height: 150px;
}
.texto{  
    position: relative;
    left: 3%;
    top: 25px;
    width: 80%;
    height: 100px;
    resize: none;
    outline: none;
    border: none;
    font-size: 18px;
}

.boton{
    position: relative;
    left: 19px;
    top: 10px;
    border-radius: 25px;
    width: 65px;
    height: 35px;
    outline: none;
    border: none;
    background: rgb(140, 219, 255);
    letter-spacing: 0.5px;

    -webkit-box-shadow: none;
       -moz-box-shadow: none;
       box-shadow: none;
}
                /*--------Post insertado--------*/

.post{
    background: rgba(255, 255, 255, 0.856);
    position: absolute;
    left: 150px;
    width: 35%;
    margin: 0;
    padding: 0;
    top: 250px;
}

.caja2 .lista{
     list-style: none;
}

.caja2 .lista li {
    border-bottom: 1px solid #b6b6b6;
}

.caja2 .lista li a{
    color: #212121;
    display: block;
    padding: 20px 0;
    text-decoration: none;
}

.caja2 .lista li a:hover{
    color: darkred;
    text-decoration: line-through;
}